// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#block{
	text-align:center;
}
#b1,#b2,#b3{
	width:30%;
	padding: 1px;
	display:inline-block;
}
table, td {
    border: 1px solid black;
}
